Source: grub2-theme-kumkang
Section: utils
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: grub2-theme-kumkang
Architecture: all
Pre-Depends: 
Depends: 
Replaces:          
Description: Grub2 Theme for HamoniKR
 하모니카 리눅스의 부트로더용 테마

Package: grub2-theme-kumkang-dark
Architecture: all
Pre-Depends: 
Depends: 
Replaces:          
Description: Grub2 Theme for HamoniKR
 하모니카 리눅스의 부트로더용 테마

Package: grub2-theme-kumkang-hd
Architecture: all
Pre-Depends: 
Depends: 
Replaces:      
Description: Grub2 Theme for HamoniKR
 하모니카 리눅스의 부트로더용 테마

Package: grub2-theme-kumkang-hd-dark
Architecture: all
Pre-Depends: 
Depends: 
Replaces:      
Description: Grub2 Theme for HamoniKR
 하모니카 리눅스의 부트로더용 테마

